*{
	background: #500000;
	font-family: 'Montserrat', sem serifa;
	font-size: 32px;
	font-weight: 400;
	line-height: 150%;

}

header {
	text-align: center;
	font-size: 25px;
	color: #ffffff;
}
.Logoalura {
	margin-left: 10px;
	margin-top: 10px;
	width: 10%;
}

main {
	display: flex;
	margin-bottom: 50px;
	margin-left: 80px;
}

.text-area {
	border: none;
	color: white;
	margin-top: 90px;
	text-transform: lowercase;
}

::placeholder {color: #7cb6d3}
	.text-area:focus {
		outline: none;
	}

.mensagem {
	background: #ffffff;
	background-image: url("boneco.png");
	background-repeat: no-repeat;
	border: none;
	border-radius: 30px;
	color: #0A3871;
	margin-left: 98px;
	margin-top: 20px;
	padding-left: 20px;
	position: absolute;
	
}

.mensagem:focus {
	outline: none;
}

.botoes {
	display: flex;
	margin-top: 18px;
}

.btn-desencriptar {
	background: #D8DfE8;
	border: 1px solid #0a3871;
	border-radius: 30px;
	color: #000000;
	cursor: pointer;
	height: 67px;
	margin-left: 30px;
	width: 328px;
}

.btn-desencriptar:hover {
	background: #c78c19;
	color: white;
	transform: scale(1.1);
	transition: 1s
}

.btn-encriptar {
	background-color: #000000;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #ffffff;
	cursor: pointer;
	height: 67px;
	width: 328px;
}

.btn-encriptar:hover {
	background: #c78c19;
	color: white;
	transform: scale(1.1);
	transition: 1s
}

.btn-copiar {
	background-color: #000000;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #ffffff;
	cursor: pointer;
	height: 67px;
	margin-left: 130px;
	margin-top: 402px;
	position: absolute;
	width: 336px;
}

.btn-copiar:hover {
	background: #c78c19;
	color: white;
	transition: 1s
}

.info {
	color: #7cb6d3;
	font-size: 15px;
}

footer{
	display: inline-block;
    flex-direction: column;
    padding: 1%;
    color: white;
    margin-top: 20px ;
    text-align: center;
	padding: 40px 0;
	text-decoration: none;
}

footer a:hover {
	color: #c78c19;
	text-decoration: underline;
	transition: 0.6s
}

footer img{
	display:inline-block;
	padding: 2px;
	width: 2%;
	margin: 0 0 0 15px;
}
